.kanban-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}

.options {
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    
    
   
}

.board-columns {
    background-color: #e6e6e6;
    display: flex;
    gap: 20px;
    width: 100%;
}